@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body {
    margin: 0;
    font-family: 'Inter', Arial, sans-serif;
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.page-title {
    color: #000000;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    position: sticky;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer
}

.logo {
    font-size: 24px;
    font-weight:bolder;
    font-family: Poppins;
}

.logo-img {
    width: 20px;
    height: 20px; 
    object-fit: cover;
}

.search-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;

}

.search-bar {
    width: 65%;
}

.location-bar {
    width: 30%;
}

.search-input {
    padding: 10px; 
    background-color: #E7E7E7;
    font-family: Poppins;
    color: #4B4B4B;
    font-size: 14px;
    width: 100%;
    border: 1px solid #000000;
    box-shadow: 0 4px 6px rgba(0,0,0,0.4);
    margin-right: 5px;
}

.location-input {
    padding: 10px; 
    font-family: Poppins;
    box-sizing: border-box;
    background-color: #E7E7E7;
    color: #4B4B4B;
    font-size: 14px;
    width: 100%;
    border: 1px solid #000000;
    box-shadow: 0 4px 6px rgba(0,0,0,0.4);
}

.header-links {
    display: flex;
    gap: 20px;
}

.header-link {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.logout-link {
    cursor: pointer;
}

.dashboard-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 60vw;
    margin: auto;
}

.search-button {
    width: 18vw;
    padding: 15px;
    background-color: #800020;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    font: Poppins;
    margin-bottom: 20px;
    margin-left: auto;
    box-shadow: 0 4px 6px rgba(0,0,0,0.4);
}

.search-button:hover {
    background-color: #620019;
}

.aesthetic-bar {
    height: 50px;
    background-color: #800020;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: -10px;
    border: 1px solid #000000;
}

.job-listings {
    display: flex;
    flex: 1;
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #000000;
}

.job-list {
    width: 30%;
    background-color: #f2f2f2;
    overflow-y: auto;
    /* border: 1px solid #000000; */
    /* put a border only on the right side */
    border-right: 1px solid #000000;

}

.job-count {
    padding: 10px;
    font-weight:normal;
    font-size: 14px;
    background-color: #fff;
    width: 100%;
    box-sizing: border-box;
}

.job-item:nth-child(even) {
    background-color: #f2f2f2;
}

.job-item:nth-child(odd) {
    background-color: #fff;
}

.job-item {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    width: 100%;
    font-size: 14px;
    box-sizing: border-box;
}

.job-item:hover {
    background-color: #e0e0e0;
}

.job-title {
    color: #800020;
    font-weight: bold;
    font-size: 14px;
}

.job-location {
    font-size: 12px;
    font-weight: 400;
    color: #4B4B4B;
}

.job-type {
    font-size: 12px;
    font-weight: 400;
    color: #4B4B4B;
}

.job-detail {
    width: 70%;
    padding: 20px;
    margin-left: 10px;
    overflow-y: auto;
    border-left: 1px solid #000000;
}

.job-detail-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.job-detail-title {
    font-size: 20px;
    font-weight: bold;
    color: #800020;
    margin-left: 20px;
}

.job-detail-actions {
    display: flex;
    gap: 20px;
}

.apply-button {
    padding: 15px 20px;
    background-color: #800020;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
}

.job-detail-body {
    background-color: #fff;
    padding: 20px;
    border: none;
}

.job-detail-section {
    margin-bottom: 30px;
    font-size: 14px;
    font-family: 'Inter', Arial, sans-serif;
}

.job-detail-section strong {
    display: block;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 2px;
}

.job-detail-section div {
    font-size: 10px;
    font-weight: 400; 
}

.job-description p {
    margin: 0;
}

.favorite-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ddd;
    cursor: pointer;
}

.favorite-icon.favorited {
    color: gold;
}

/* Modify the job-item to have relative positioning for the absolute star positioning */
.job-item {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

.job-apply-by {
    font-weight: 400;
    font-size: 12px;
    white-space: normal;
    word-wrap:normal;
    margin-left: 60px;
}