@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

/************************************
 * General Styles
 *************************************/

.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/************************************
 * Dashboard Content and Items
 *************************************/

.aesthetic-bar {
  height: 40px;
  background-color: #800020;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 20px;
}

.dashboard-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.dashboard-listings {
  display: flex;
  flex: 1;
  border: 1px solid #ddd;
  overflow: hidden;
}

.dashboard-list {
  width: 30%;
  background-color: #f2f2f2;
  overflow-y: auto;
}

.dashboard-count {
  padding: 10px;
  font-weight: bold;
  background-color: #fff;
  width: 100%;
  box-sizing: border-box;
}

.dashboard-detail {
  width: 70%;
  padding: 20px;
  overflow-y: auto;
  height: auto;
}

.dashboard-detail-body {
  background-color: #fff;
  padding: 20px;
  border: none;
}

.dashboard-detail-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-detail-title {
  font-size: 28px;
  font-weight: bold;
  color: #800020;
  margin-left: 20px;
}

.dashboard-detail-actions {
  display: flex;
  gap: 20px;
}

.dashboard-detail-section {
  margin-bottom: 30px;
}

.dashboard-item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.dashboard-item:nth-child(even) {
  background-color: #f2f2f2;
}

.dashboard-item:nth-child(odd) {
  background-color: #fff;
}

.dashboard-item:hover {
  background-color: #e0e0e0;
}

.dashboard-title {
  color: #800020;
  font-weight: bold;
}

.dashboard-apply-by {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.dashboard-summary {
  white-space: pre-wrap;
}

.dashboard-detail-section {
  white-space: pre-wrap;  
}

.resume-iframe {
  width: 100%;
  height: 100vh;
}

/************************************
 * Applicant List Job Details
 *************************************/

.job-details {
  background-color: #fff;
  padding: 0px 20px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.job-detail-section {
  margin-bottom: 20px;
}

/************************************
 * Forms
 *************************************/

.new-item-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.new-item-form input,
.new-item-form textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/************************************
 * Search and Filters
 *************************************/

.search-and-filters {
  width: 100vh;
}

.search-input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  width: 70vh;
  border: 1px solid #1e1e1e;
  background: #fff;
  box-shadow: 0px 4px 4px 0px #1e1e1e40;
}

.filter-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  align-items: center;
}

.filter-button {
  background: #fff;
  color: #1e1e1e;
  border-color: #ddd;
}

.filter-button:hover {
  background: #e0e0e0;
  color: #1e1e1e;
  border-color: #1e1e1e;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
  width: 90vh;
}

/************************************
 * Tooltip
 *************************************/

 .tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip {
  visibility: hidden;
  width: 220px;
  background-color: #1e1e1e;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -110px;
  opacity: 0;
  transition: opacity 0.3s;
  font-weight: normal;
  font-size: 16px;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #1e1e1e transparent transparent transparent;
}

.tooltip-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.tooltip-icon {
  margin-left: 5px;
  cursor: pointer;
  font-size: 16px;
  color: #1e1e1e;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 18px; 
  height: 18px; 
  border: 1px solid #1e1e1e;
  border-radius: 50%;
  background-color: #fff; 
  font-weight: bold;
}

.tooltip-apply-container {
  position: relative;
  display: inline-block;
}

.tooltip-apply {
  visibility: hidden;
  width: 220px;
  background-color: #1e1e1e;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 35%;
  right: 125%;
  margin-top: -16px;
  opacity: 0;
  transition: opacity 0.3s;
  font-weight: normal;
  font-size: 16px;
}

.tooltip-apply::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #1e1e1e transparent transparent;
}

.tooltip-apply-container:hover .tooltip-apply {
  visibility: visible;
  opacity: 1;
}

/************************************
 * Buttons and Icons
 *************************************/

.new-item-button {
  width: 20vh;
  margin-bottom: 20px;
}

.cancel-button {
  background-color: #fff;
  color: #1e1e1e;
  border-color: #ddd;
}

.cancel-button:hover {
  background-color: #e0e0e0;
  color: #1e1e1e;
  border-color: #1e1e1e;
}

.resume-submit-button:disabled {
  background-color: #e0e0e0;
  color: #1e1e1e;
  border-color: #cdcdcd;
  cursor: not-allowed;
}

.resume-submit-button:disabled:hover {
  background-color: #e0e0e0;
  color: #1e1e1e;
  border-color: #cdcdcd;
}

.favorite-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #ddd;
  cursor: pointer;
}

.favorite-icon.favorited {
  color: gold;
}

.generate-feedback-button {
  margin-left: 10px;
  border-radius: 10px;
  height: 30px;
}

.generate-feedback-button:disabled {
  background-color: grey;
  color: white;
  cursor: not-allowed;
  border-color: grey;
}

.generate-feedback-button:disabled:hover {
  background-color: grey;
  color: white;
  border-color: grey;
}

/************************************
 * Fonts
 *************************************/

.dashboard-detail-section h2 {
  display: block;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

/************************************
 * Responsive Styling
 *************************************/

 @media (max-width: 600px) {
  .dashboard-content {
    padding: 10px;
  }

  .dashboard-listings {
    flex-direction: column;
  }

  .dashboard-detail-title {
    font-size: 24px;
    margin-left: 10px;
  }

  .dashboard-detail-actions {
    flex-direction: column;
    gap: 10px;
  }

  .dashboard-item {
    padding: 5px;
  }

  .dashboard-apply-by {
    display: none;
  }

  .search {
    flex-direction: column;
    width: 100%;
  }

  .search-input {
    width: 100%;
    font-size: 14px;
  }

  .new-item-button {
    width: 100%;
  }

  .modal-content {
    max-width: 90%;
    padding: 15px;
  }

  .ai-feedback-box {
    height: 100px;
  }
}

@media (max-width: 768px) {
  .dashboard-content {
    padding: 15px;
  }

  .dashboard-listings {
    flex-direction: column;
  }

  .dashboard-detail-title {
    font-size: 26px;
    margin-left: 15px;
  }

  .dashboard-detail-actions {
    flex-direction: row;
    gap: 15px;
  }

  .dashboard-item {
    padding: 8px;
  }

  .dashboard-apply-by {
    display: none;
  }

  .search {
    flex-direction: column;
    width: 100%;
  }

  .search-input {
    width: 100%;
    font-size: 15px;
  }

  .new-item-button {
    width: 100%;
  }

  .modal-content {
    max-width: 90%;
    padding: 15px;
  }

  .ai-feedback-box {
    height: 120px;
  }
}

@media (max-width: 1200px) {
  .search {
    width: 100%;
  }

  .search-input {
    width: 80%;
    font-size: 16px;
  }

  .new-item-button {
    width: 25%;
  }

  .modal-content {
    max-width: 80%;
    padding: 20px;
  }

  .ai-feedback-box {
    height: 130px;
  }
}

@media (min-width: 1201px) {
  .dashboard-content {
    padding: 20px;
  }

  .dashboard-detail-title {
    font-size: 28px;
    margin-left: 20px;
  }

  .dashboard-detail-actions {
    flex-direction: row;
    gap: 20px;
  }

  .dashboard-listings {
    flex-direction: row;
  }

  .dashboard-item {
    padding: 10px;
  }

  .search {
    flex-direction: row;
    width: 90vh;
  }

  .search-input {
    width: 70vh;
    font-size: 16px;
  }

  .new-item-button {
    width: 20vh;
  }
}

/************************************
 * Submitting Message
 *************************************/

.loading-dots-container {
  position: relative;
  top: 10px;
}

.submitting-message {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
}

.loading-dots {
  display: inline-block;
  margin-left: 5px;
}

.loading-dots span {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 2px;
  background-color: #000;
  border-radius: 50%;
  animation: loading 1s infinite;
}

.loading-dots span:nth-child(2) {
  animation-delay: 0.2s;
}

.loading-dots span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes loading {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/************************************
 * Progress Bar
 *************************************/
 .progress-bar-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.progress-bar {
  background-color: #f3f3f3;
  border-radius: 25px;
  position: relative;
  height: 20px;
  width: 97%;
  overflow: hidden;
}

.progress-bar-fill {
  height: 100%;
  border-radius: 25px;
  transition: width 2s, background-color 2s;
  width: 0;
}

.progress-bar-score {
  margin-left: auto;
  font-weight: bold;
  color: #000;
}

.score-details {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.score-category {
  margin-bottom: 10px;
}

.score-category-title {
  font-weight: bold;
}

.score-category-description {
  margin-left: 10px;
  font-style: italic;
}

.score-section {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.score-number {
  font-weight: bold;
  margin-right: 10px;
}

.score-description {
  flex-grow: 1;
}


  .ai-feedback-box {
    height: 150px;
  }
}