@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

.signup-page-container body {
  background-color: #f3f3f3;
  color: #000;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: left;
  align-items: flex-start;
}

.pursuiter-heading {
  font-family: Poppins;
  font-size: 64px;
  font-weight: 800;
  line-height: 96px;
  text-align: left;
}

.signup-container h1 {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 400;
  line-height: 72px;
  text-align: left;
}

.signup-header {
  margin: 20px;
}

.signup-header .pursuiter-heading::before {
  content: "";
  display: inline-block;
  background-color: #000000;
  margin-right: 10px;
  width: 48.45px;
  height: 46px;
  top: 6px;
  gap: 0px;
  opacity: 0px;
}

.signup-container {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.signup-container form {
  max-width: 631px;
  display: flex;
  flex-direction: column;
}

.signup-container label {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
}

.signup-container input {
  width: 631px;
  height: 36px;
  top: 454px;
  left: 89px;
  border: 1px 0px 0px 0px;
  background: #e7e7e7;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px 0px #00000040;
  margin-bottom: 20px;
}

.signup-container button {
  background-color: #8a0032;
  color: #ffffff;
  padding: 10px;
  border-radius: 45.5px;
  border: 2px solid transparent;
  cursor: pointer;
  width: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  height: 58px;
  top: 860px;
  left: 89px;
  gap: 0px;
  opacity: 0px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
}

.signup-container button:hover {
  background-color: #f3f3f3;
  color: #8a0032;
  border-color: #8a0032;
  border-width: 2px;
}
