@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0;
    font-family: 'Inter', Arial, sans-serif;
}

p {
    font-family: 'Inter', Arial, sans-serif;
    margin: 0;
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.page-title {
    color: #000000;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    /* position: sticky; */
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer
}

.logo {
    font-size: 24px;
    font-weight:bolder;
    font-family: Poppins;
}

.logo-img {
    width: 20px;
    height: 20px; 
    object-fit: cover;
}

.search-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 10px;
}

.search-bar {
    width: 65%;
}

.location-bar {
    width: 30%;
}

.search-bar-input {
    padding: 10px; 
    background-color: #E7E7E7;
    font-family: Poppins;
    color: #4B4B4B;
    font-size: 14px;
    width: 100%;
    border: 1px solid #000000;
    box-shadow: 0 4px 6px rgba(0,0,0,0.4);
    margin-right: 5px;
}

.location-bar-input {
    padding: 10px; 
    font-family: Poppins;
    box-sizing: border-box;
    background-color: #E7E7E7;
    color: #4B4B4B;
    font-size: 14px;
    width: 100%;
    border: 1px solid #000000;
    box-shadow: 0 4px 6px rgba(0,0,0,0.4);
}

.filter-bar {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.filter-item-container {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #E7E7E7;
    color: #4B4B4B;
    font-size: 5px;
    font-family: Poppins;

    box-shadow: 0 4px 6px rgba(0,0,0,0.4);
    cursor: pointer;

    border-radius: 18px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.header-links {
    display: flex;
    gap: 20px;
}

.header-link {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}


.dropdown {
    float: left;
    overflow: hidden;
    background-color: #E7E7E7;
    margin-bottom: 10px;
    border-radius: 18px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.4);
  }
  
  .dropdown .dropbtn {
    font-size: 13px;  
    border: none;
    outline: none;
    color: #4B4B4B;
    padding: 14px 10px;
    background-color: inherit;
    font-family: inherit;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 18px;
    margin-top: 2px;
  }
  
  .dropdown-content a {
    float: none;
    font-size: 12px;  
    color: #4B4B4B;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

.fa-carot-down {
    color: #4B4B4B;
}


.logout-link {
    cursor: pointer;
}

.dashboard-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 80vw;
    margin: auto;
}

.search-button {
    width: 30%;
    padding: 12px;
    background-color: #800020;
    color: #fff;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    font: Poppins;
    margin-bottom: 10px;
    margin-left: auto;
    border: 2px solid #8a0032;
    box-shadow: 0 4px 6px rgba(0,0,0,0.4);
}

.search-button:hover {
    background-color: #f3f3f3;
    color: #8a0032;
    border: 2px solid #8a0032;
}

.aesthetics-bar {
    height: 50px;
    background-color: #800020;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: -10px;
    border: 1px solid #000000;
}

.jobs-listings {
    display: flex;
    flex: 1;
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #000000;
}

.jobs-list {
    width: 30%;
    background-color: #f2f2f2;
    overflow-y: auto;
    border-right: 1px solid #000000;
}

.num-jobs {
    padding: 10px;
    font-weight:200;
    font-size: 12px;
    background-color: #fff;
    width: 100%;
    box-sizing: border-box;
}

.job-item:nth-child(even) {
    background-color: #f2f2f2;
}

.job-item:nth-child(odd) {
    background-color: #fff;
}

.job-item {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    width: 100%;
    font-size: 14px;
    box-sizing: border-box;
}

.job-item:hover {
    background-color: #e0e0e0;

    /* // change the colour of the favorite-icon when the job-item is hovered: */
    .favorite-icon {
        color: #fff;
    }

    .favorite-icon.favorited {
        color: gold;
    }

    
}

.job-title {
    color: #800020;
    font-weight: bold;
    font-size: 14px;
}

.job-company {
    font-size: 12px;
    font-weight: 400;
}

.job-location {
    font-size: 12px;
    font-weight: 400;
    color: #4B4B4B;
}

.job-type {
    font-size: 12px;
    font-weight: 400;
    color: #4B4B4B;
}

.jobs-details {
    width: 70%;
    padding: 20px;
    margin-left: 10px;
    overflow-y: auto;
    border-left: 1px solid #000000;
}

.jobs-details-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
}

.jobs-details-title {
    font-size: 18px;
    font-weight: bold;
    color: #800020;
    margin-left: 20px;
}

.jobs-details-actions {
    display: flex;
    gap: 20px;
}

.apply-button {
    padding: 12px 20px;
    background-color: #800020;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    font: Poppins;
    border: 2px solid #8a0032;
    box-shadow: 0 4px 6px rgba(0,0,0,0.4);
}

.apply-button:hover {
    background-color: #f3f3f3;
    color: #8a0032;
    border: 2px solid #8a0032;
}

.jobs-details-body {
    background-color: #fff;
    padding-left: 20px;
    padding-top: 15px;
    font-size: 14px;
    font-family: Poppins;
    border: none;
    color: black;
}

.jobs-details-section-top-company {
    display: flex;
    margin-bottom: 7px;
    font-size: 13px;
    font-family: 'Inter', Arial, sans-serif;
}

.jobs-details-section-top {
    display: flex;
    color: #4B4B4B;
    margin-bottom: 7px;
    font-size: 13px;
    font-family: 'Inter', Arial, sans-serif;
}

.jobs-details-section-top strong {
    display: flex;
    color: #4B4B4B;
    /* margin-bottom: 25px; */
    font-size: 13px;
    font-family: 'Inter', Arial, sans-serif;
}

.jobs-details-section {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 13px;
    font-family: 'Inter', Arial, sans-serif;
}

.jobs-details-section strong {
    display: block;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 2px
}

.jobs-details-section div {
    font-size: 10px;
    font-weight: 400; 
}

.job-description p {
    margin: 0;
}

.favorite-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ddd;
    cursor: pointer;
}


.favorite-icon.favorited {
    color: gold;
}

/* Modify the job-item to have relative positioning for the absolute star positioning */
.job-item {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

.job-apply-date {
    font-weight: 400;
    font-size: 12px;
    white-space: normal;
    word-wrap:normal;
    margin-left: auto;
}