/************************************
 * Modal
 *************************************/

 .modal-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #1e1e1e80;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    max-width: 500px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  
  .delete-modal {
    margin-top: 20px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
