@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/************************************
 * General Styles
 *************************************/

.users-page-container body {
  background-color: #f3f3f3;
  color: #000;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  width: auto;
}

/************************************
 * Headers
 *************************************/

.users-info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.pursuiter-header {
  margin: 20px;
  font-family: Poppins;
  font-size: 64px;
  font-weight: 800;
  line-height: 96px;
  text-align: left;
}

.pursuiter-header::before {
  content: "";
  display: inline-block;
  background-color: #000000;
  margin-right: 10px;
  width: 48.45px;
  height: 46px;
  top: 6px;
  gap: 0px;
  opacity: 0px;
}

/************************************
 * Bosy and Form
 *************************************/

.users-container {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.users-info-container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 776px;
}

.users-container form {
  max-width: 631px;
  display: flex;
  flex-direction: column;
}

.users-info-container form {
  max-width: 100%;
}

.users-container label {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
}

.users-info-container label {
  margin-right: 10px;
  font-size: 14px;
  line-height: 21px;
  left: 654px;
  width: 170px;
  white-space: nowrap;
}

.users-container input {
  width: 631px;
  height: 36px;
  top: 454px;
  left: 89px;
  border: 1px 0px 0px 0px;
  background: #e7e7e7;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px 0px #00000040;
  margin-bottom: 20px;
}

.users-info-container input {
  width: 691px;
  height: 27px;
  top: 391px;
  left: 416px;
}

.users-info-form-group {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/************************************
 * Buttons
 *************************************/

.users-container button {
  background-color: #8a0032;
  color: #ffffff;
  padding: 10px;
  border-radius: 45.5px;
  border: 2px solid transparent;
  cursor: pointer;
  width: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  height: 58px;
  top: 860px;
  left: 89px;
  gap: 0px;
  opacity: 0px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
}

.users-info-container button {
  width: auto;
  width: 165px;
  height: 40px;
  top: 336px;
  left: 942px;
  gap: 0px;
  opacity: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.users-container button:hover {
  background-color: #f3f3f3;
  color: #8a0032;
  border-color: #8a0032;
  border-width: 2px;
}

/************************************
 * Links
 *************************************/

.inline-link p {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
}

.inline-link {
  text-align: left;
}

.inline-link a {
  color: #8b0000;
  text-decoration: none;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
}

.inline-link a:hover {
  text-decoration: underline;
}

/************************************
 * Fonts
 *************************************/

.users-container h1 {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 400;
  line-height: 72px;
  text-align: left;
}

.users-info-container h1 {
  display: flex;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
}
